html, body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}
.not-found {
    height: 100dvh;
    width: 100vw;
    box-shadow: inset 0 0 var(--xs) var(--border);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: var(--background);
    color: var(--text);
}
.not-found-title{
    padding: var(--xxs);
    text-align: center;
    font-size: var(--sm);
}

.not-found-text{
    padding: var(--xxs);
    text-align: center;
    font-size: var(--xs);
}

.head-home{
    margin: var(--s);
    padding: var(--xxs);
    text-align: center;
    font-size: var(--xss);
    border: 1px solid var(--text);
    border-radius: 5px;
    padding: 5px;
}

.head-home:hover{
    cursor: pointer;
    border: 1px solid var(--link);
    border-radius: 5px;
    color: var(--link);
}

